body {
    margin: auto;
    text-align: center;
    color: rgb(69, 241, 121);
    font-family: 'Ubuntu', sans-serif;
}


#main-box {
    margin: auto;
    align-items: center;
    max-width: 700px;
    border: solid 5px darkgray;
    border-radius: 50px;
    background-color: rgb(8, 4, 65);
    padding: 10px;
}

#main-heading {
    font-size: 4rem;
    color: rgb(69, 241, 121);
}

#box1 {
    padding: 50px;
    text-align: left;
    font-size: 2rem;
}

#box2 {
    padding: 50px;
 
}

#h1-color1 {
    color:aliceblue;
}

#btn {
    border: none;
    color: rgb(8, 4, 65);
    background-color: rgb(69, 241, 121);
    padding: 20px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
}

#pass1, #pass2, #pass3, #pass4 {
    background-color: rgb(20, 14, 100);
    width: 300px;
    padding: 10px;
    margin: 10px;
    color: aliceblue;

    
    text-align: center;
    border-radius: 10px;
}

#pass-row1, #pass-row2 {
    display: flex;
    padding: 2px;
    margin: 2px;
    text-align: center;
 
}